<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PRApplication.Hosting.AzureServiceReference' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>6dd54dab-c88c-4860-a3f0-7d68182acf95</InstrumentationKey>
</ApplicationInsights>